body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50%;
    background-image: url(https://images.pexels.com/photos/8471271/pexels-photo-8471271.jpeg?cs=srgb&dl=pexels-szabolcs-toth-8471271.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Anybody', cursive;
}
h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    width: px;
    
}
.weatherContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
     
}

.border {
    width: 600px;
    height: auto;
    border: 150px;
    background-color: whitesmoke;
    border-radius: 25px;
    opacity: 0.8;
    margin-top: -250px ;
}


.zip {
 display: flex;
 justify-content: center;
}


#input {
    width: 300px ;
    padding: 5px;
    border-radius: 25px;
}
 #zipButton {
    margin: 3px;
     width: 75px;
     border-radius: 25px;
 }
 p {
    display: flex;
    flex-direction: column;
   margin-left: 75px;
   font-size: larger;
 }
  div.currentConditions {
      margin-left: 75px;
      font-size: larger;
  }

  .icon {
    background-color: black;
    padding: 0px;
    border-radius: 25px;
    margin-left: 200px;
  }
